div.header-links {
    background-color: grey;
    display: flex;
    justify-content: center;
    margin: 3px;
}

#basic-navbar-nav {
    background-color: hotpink;
}

a.nav-link {
    color: red;
    margin-right: 150px;
}