div.header-links {
    background-color: #bebebe;
    display: flex;
    justify-content: center;
}

#basic-navbar-nav {
    background-color: #bebebe;
    display: flex;
    justify-content: center;
}

.app-title {
    background-color: green;
}