.app {
    background-image: url(./background.jpg);
    width: auto;
    height: auto;
    background-size: cover;
    background-position: top;
    background-blend-mode: luminosity;
    transition: all 1s ease-in-out;
}

a.nav-link {
    color: white;
    margin-right: 150px;
}

.homepage {
    display: flex;
    flex-direction: column;
}